header {
    .bgFilter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background-color: black;
    }
    .headCardFilter{
        background: rgb(18,2,39);
            background: linear-gradient(0deg, rgba(18,2,39,1) 14%, rgba(18,2,39,0.11808473389355745) 100%);
    }
}


.owl-stage {
    // Semakin Banyak Carousel Semakin Tinggi Setelannya
    width: 32156000px !important;
    // display: inline-block;
    // width: auto;
  }